{% extends 'html.twig' %}
{% block contents %}
{% if name is defined and name is not null %}
<h1>Hello {{ name }}</h1>
{% endif %}
{% if is_current_url('home')  %}
	<div class="table-responsive">
		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">Code</th>
					<th scope="col">Result</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<code>url_for('hello', {'name': 'foo'})</code>
					</td>
					<td>
						{{ url_for('hello', {'name': 'foo'}) }}
					</td>
				</tr>
				<tr>
					<td>
						<code>full_url_for('home')</code>
					</td>
					<td>
						{{ full_url_for('home') }}
					</td>
				</tr>
				<tr>
					<td>
						<code>is_current_url('home')</code>
					</td>
					<td>
						{{ is_current_url('home') ? 'TRUE' : 'FALSE' }}
					</td>
				</tr>
				<tr>
					<td>
						<code>current_url()</code>
					</td>
					<td>
						{{ current_url() }}
					</td>
				</tr>
				<tr>
					<td>
						<code>get_uri().scheme</code>
					</td>
					<td>
						{{ get_uri().scheme }}
					</td>
				</tr>
			</tbody>
		</table>
    </div>
	{% if csrf is defined and csrf.value is not null %}
    <h2 class="mt-4">
		CSRF Twig extension
    </h2>
    <pre>
        &lt;input type="hidden" name="{{csrf.keys.name}}" value="{{csrf.name}}">
        &lt;input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
	</pre>
	{% endif %}
	{% endif %}
{% endblock %}